// COLORS
$color-brown-primary: #6E352C;
$color-brown-light: #E3C598;

$color-red-primary: #CF5230;

$color-orange-primary: #F59A44;

$color-grey-primary: #777;
$color-grey-light: #eee;
$color-grey-dark: #333;

$color-green-primary: #6E612F;